<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>Label</key>
  <string>IFFYBOX</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/iffybox/iffybox/venv/bin/gunicorn</string>
    <string>-w</string>
    <string>4</string>
    <string>-b</string>
    <string>127.0.0.1:9090</string>
    <string>app:app</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/iffybox/iffybox</string>
</dict>
</plist>
