@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIcons-Regular.eot');
  src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('../fonts/MaterialIcons-Regular.woff') format('woff'),
       url('../fonts/MaterialIcons-Regular.ttf')  format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  -webkit-text-size-adjust: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

main {
  -webkit-overflow-scroll: touch;
}

.mdl-layout__header-row {
  padding-left: 16px;
}

.mdl-card {
  min-height: 0;
  overflow: visible;
}

.mdl-card__supporting-text {
  box-sizing: border-box;
  width: 100%;
}

.mdl-card__actions .mdl-button {
  min-width: 0;
  width: 100%;
}

.mdl-textfield {
  width: 100%;
}

.mdl-card__menu {
  right: 8px;
  top: 8px;
}

.has-options {
  z-index: 2;
}

.has-options .mdl-menu {
  max-height: 300px;
  overflow-y: scroll;
}

.has-options .mdl-menu__item {
  height: auto;
}

.has-options .mdl-menu label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.has-options .mdl-radio__outer-circle {
  top: 9px;
}
.has-options .mdl-radio__inner-circle {
  top: 13px;
}
.has-options .mdl-radio__ripple-container {
  top: -4px;
}
