html {
  -webkit-text-size-adjust: 100%;
}

input {
  -webkit-appearance: none;
}

.mdl-layout__header-row {
  padding-left: 16px;
}

.mdl-card {
  min-height: 0;
  overflow: visible;
}

.mdl-card__actions .mdl-button {
  min-width: 0;
  width: 100%;
}

.mdl-textfield {
  width: 100%;
}

.mdl-card__menu {
  right: 8px;
  top: 8px;
}

.has-radio {
  max-height: 300px;
  overflow-y: scroll;
}

.has-radio .mdl-menu__item {
  height: auto;
}

.has-radio label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.has-radio .mdl-radio__outer-circle {
  top: 9px;
}
.has-radio .mdl-radio__inner-circle {
  top: 13px;
}
.has-radio .mdl-radio__ripple-container {
  top: -4px;
}
