{% extends 'layout.html' %}
{% block content %}

<main class="mdl-layout__content">

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#remote-panel" class="mdl-tabs__tab is-active">Remote</a>
      <a href="#say-panel" class="mdl-tabs__tab">Say</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="remote-panel">
      <form action="/remote" method="post" class="form-remote">
        <div class="mdl-grid">
          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__title">TV</div>
            <div class="mdl-card__menu">
              <button id="channel-menu" class="mdl-button mdl-js-button mdl-button--icon" type="button">
                <i class="material-icons">more_vert</i>
              </button>
              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect has-radio" for="channel-menu">
                <li class="mdl-menu__item">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="tv-channel-nbc">NBC</button>
                </li>
                <li class="mdl-menu__item">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="tv-channel-abc">ABC</button>
                </li>
              </ul>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="button" data-action="tv-power">Power</button>
                </div>

                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="tv-input">Input</button>
                </div>
              </div>
            </div>
          </div>

          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__title">Receiver</div>
            <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-input-tv">TV</button>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-input-ps3">PS3</button>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-input-mac">Mac</button>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-input-chromecast">Cast</button>
                </div>
              </div>
            </div>
          </div>

          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__title">Volume</div>
            <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-mute">Mute</button>
                </div>

                <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-vol-up">+</button>
                </div>

                <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-vol-down">-</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="mdl-tabs__panel" id="say-panel">
      <form action="/say" method="post" class="form-say">
        <div class="mdl-grid">
          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-card--border">Say Something</div>

            <div class="mdl-card__menu">
              <button id="voice-menu" class="mdl-button mdl-js-button mdl-button--icon" type="button">
                <i class="material-icons">more_vert</i>
              </button>
              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect has-radio" for="voice-menu">
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice1">
                    <input checked class="mdl-radio__button" id="voice1" name="voice" type="radio" value="Alex">
                    <span class="mdl-radio__label">Alex (Default)</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice2">
                    <input class="mdl-radio__button" id="voice2" name="voice" type="radio" value="Agnes">
                    <span class="mdl-radio__label">Agnes</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice3">
                    <input class="mdl-radio__button" id="voice3" name="voice" type="radio" value="Albert">
                    <span class="mdl-radio__label">Albert</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice4">
                    <input class="mdl-radio__button" id="voice4" name="voice" type="radio" value="Bad News">
                    <span class="mdl-radio__label">Bad News</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice5">
                    <input class="mdl-radio__button" id="voice5" name="voice" type="radio" value="Bahh">
                    <span class="mdl-radio__label">Bahh</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice6">
                    <input class="mdl-radio__button" id="voice6" name="voice" type="radio" value="Bells">
                    <span class="mdl-radio__label">Bells</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice7">
                    <input class="mdl-radio__button" id="voice7" name="voice" type="radio" value="Boing">
                    <span class="mdl-radio__label">Boing</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice8">
                    <input class="mdl-radio__button" id="voice8" name="voice" type="radio" value="Bruce">
                    <span class="mdl-radio__label">Bruce</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice9">
                    <input class="mdl-radio__button" id="voice9" name="voice" type="radio" value="Cellos">
                    <span class="mdl-radio__label">Cellos</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice10">
                    <input class="mdl-radio__button" id="voice10" name="voice" type="radio" value="Deranged">
                    <span class="mdl-radio__label">Deranged</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice11">
                    <input class="mdl-radio__button" id="voice11" name="voice" type="radio" value="Fred">
                    <span class="mdl-radio__label">Fred</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice12">
                    <input class="mdl-radio__button" id="voice12" name="voice" type="radio" value="Good News">
                    <span class="mdl-radio__label">Good News</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice13">
                    <input class="mdl-radio__button" id="voice13" name="voice" type="radio" value="Hysterical">
                    <span class="mdl-radio__label">Hysterical</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice14">
                    <input class="mdl-radio__button" id="voice14" name="voice" type="radio" value="Junior">
                    <span class="mdl-radio__label">Junior</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice15">
                    <input class="mdl-radio__button" id="voice15" name="voice" type="radio" value="Kathy">
                    <span class="mdl-radio__label">Kathy</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice16">
                    <input class="mdl-radio__button" id="voice16" name="voice" type="radio" value="Pipe Organ">
                    <span class="mdl-radio__label">Pipe Organ</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice17">
                    <input class="mdl-radio__button" id="voice17" name="voice" type="radio" value="Princess">
                    <span class="mdl-radio__label">Princess</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice18">
                    <input class="mdl-radio__button" id="voice18" name="voice" type="radio" value="Ralph">
                    <span class="mdl-radio__label">Ralph</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice19">
                    <input class="mdl-radio__button" id="voice19" name="voice" type="radio" value="Trinoids">
                    <span class="mdl-radio__label">Trinoids</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice20">
                    <input class="mdl-radio__button" id="voice20" name="voice" type="radio" value="Vicki">
                    <span class="mdl-radio__label">Vicki</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice21">
                    <input class="mdl-radio__button" id="voice21" name="voice" type="radio" value="Victoria">
                    <span class="mdl-radio__label">Victoria</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice22">
                    <input class="mdl-radio__button" id="voice22" name="voice" type="radio" value="Whisper">
                    <span class="mdl-radio__label">Whisper</span>
                  </label>
                </li>
                <li class="mdl-menu__item">
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="voice23">
                    <input class="mdl-radio__button" id="voice23" name="voice" type="radio" value="Zarvox">
                    <span class="mdl-radio__label">Zarvox</span>
                  </label>
                </li>
              </ul>
            </div>

            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="message" type="text" class="mdl-textfield__input" name="message" autocomplete="off">
                <label class="mdl-textfield__label" for="message">Message</label>
              </div>
            </div>

            <div class="mdl-card__actions">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" autocomplete="off">Say It!</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</main>

{% endblock %}
