{% extends 'layout.html' %}
{% block content %}

<main class="mdl-layout__content">

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#remote-panel" class="mdl-tabs__tab is-active">Remote</a>
      <a href="#say-panel" class="mdl-tabs__tab">Say</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="remote-panel">
      <form action="/remote" method="post" class="form-remote">
        <div class="mdl-grid">
          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__title">TV</div>
            <div class="mdl-card__menu">
              <button id="channel-menu" class="mdl-button mdl-js-button mdl-button--icon" type="button">
                <i class="material-icons">more_vert</i>
              </button>
              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect has-radio" for="channel-menu">
                <li class="mdl-menu__item">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="tv-channel-nbc">NBC</button>
                </li>
                <li class="mdl-menu__item">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="tv-channel-abc">ABC</button>
                </li>
              </ul>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="button" data-action="tv-power">Power</button>
                </div>

                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="tv-input">Input</button>
                </div>
              </div>
            </div>
          </div>

          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__title">Receiver</div>
            <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-input-tv">TV</button>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-input-ps3">PS3</button>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-input-mac">Mac</button>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-input-chromecast">Cast</button>
                </div>
              </div>
            </div>
          </div>

          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__title">Volume</div>
            <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-mute">Mute</button>
                </div>

                <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-vol-up">+</button>
                </div>

                <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" data-action="receiver-vol-down">-</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="mdl-tabs__panel" id="say-panel">
      <form action="/say" method="post" class="form-say">
        <div class="mdl-grid">
          <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-card--border">Say Something</div>

            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="message" type="text" class="mdl-textfield__input" name="message" autocomplete="off">
                <label class="mdl-textfield__label" for="message">Message</label>
              </div>
            </div>

            <div class="mdl-card__actions">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" autocomplete="off">Say It!</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</main>

{% endblock %}
